table(id="todaysPortions", class="table")
    tr 
        th Product
        th Quantity
        th Energy
        th Protein
        th Carbohydrates
        th Fat
        th 
    each portion in todaysPortions
        tr(id=portion.id)
            td(class="productName")= portion.name
            td(class="quantity")
                input(class="portionQuantityInput", type="number", value=portion.quantity)
                =" g"
            td(class="energy")= portion.energy + " kcal"
            td(class="protein")= portion.protein + " g"
            td(class="carbohydrates")= portion.carbohydrates + " g"
            td(class="fat")= portion.fat + " g"
            td(class="removeButton")
                button(class="removePortionButton") remove
    tr
        td 
            strong SUMA
        td
            strong= eatenToday.quantity + " g"
        td
            strong= eatenToday.energy + " kcal"
        td
            strong= eatenToday.protein + " g"
        td
            strong= eatenToday.carbohydrates + " g"
        td
            strong= eatenToday.fat + " g"
        td