html
    head
        link(rel="stylesheet" type="text/css" href="styles/styles.css")
        title Food Calc
    body
        div(class="grid-container")
            div(class="search")
                form(method="GET", action="/product" enctype="application/json")
                    input(id="query", type="text", name="query")
                    button(id="submit" type="submit")= "Search"
                div(id='products', class="flex-container")
                    each product in foundProducts
                        div(onclick="addProduct(this)")= product.productName
                div(id="productInfo")
                    table(id='productInfoTable', class="table")
            div(class="left")
                caption TODAY TO EAT
                    table(id="todayToEat", class="table")
                        tr
                            td Energy
                            td= todayToEat.energy
                        tr
                            td Protein
                            td= todayToEat.protein
                        tr
                            td Carbohydrates
                            td= todayToEat.carbohydrates
                        tr
                            td Fat
                            td= todayToEat.fat
            div(class="right")
                caption EATEN TODAY
                table(id="eatenToday", class="table")
                    tr
                        td Energy
                        td= eatenToday.energy
                    tr
                        td Protein
                        td= eatenToday.protein
                    tr
                        td Carbohydrates
                        td= eatenToday.carbohydrates
                    tr
                        td Fat
                        td= eatenToday.fat
            div(class="main")
                table(id="visiblePortions", class="table")
                    tr 
                        th Product
                        th Quantity
                        th Energy
                        th Protein
                        th Carbohydrates
                        th Fat
                        th 
                    each portion in visiblePortions
                        tr
                            td(class="productName")= portion.name
                            td(class="quantity")
                                input(size="2", maxlength="4", value=portion.quantity, onchange="updatePortionQuantity(\"" + portion.productId + "\",this)")
                                =" g"
                            td(class="energy")= portion.energy + " kcal"
                            td(class="protein")= portion.protein + " g"
                            td(class="carbohydrates")= portion.carbohydrates + " g"
                            td(class="fat")= portion.fat + " g"
                            td(class="removeButton")
                                button(onclick="removePortion(\"" + portion.productId + "\",this)") remove
                    tr
                        td 
                            strong SUMA
                        td
                            strong= eatenToday.quantity + " g"
                        td
                            strong= eatenToday.energy + " kcal"
                        td
                            strong= eatenToday.protein + " g"
                        td
                            strong= eatenToday.carbohydrates + " g"
                        td
                            strong= eatenToday.fat + " g"
                        td
                button(id="save" onclick="savePortions()") Zapisz

    script(src='scripts/products.js' type="text/javascript")
    script(src='scripts/portions.js' type="text/javascript")