html
    head
        link(rel="stylesheet" type="text/css" href="styles/styles.css")
        title Food Calc
    body
        div(class="grid-container")
            div(class="search")
                form(method="GET", action="/product" enctype="application/json")
                    input(id="query", type="text", name="query")
                    button(id="submit" type="submit")= "Search"
                div(id='products', class="flex-container")
                    each product in foundProducts
                        div(onclick="addProduct(this)")= product.productName
                div(id="productInfo")
                    table(id='productInfoTable', class="table")
            div(class="left")
                caption TODAY TO EAT
                    table(id="todayToEat", class="table")
                        tr
                            td Energy
                            td= todayToEat.energy
                        tr
                            td Protein
                            td= todayToEat.protein
                        tr
                            td Carbohydrates
                            td= todayToEat.carbohydrates
                        tr
                            td Fat
                            td= todayToEat.fat
            div(class="right")
                caption EATEN TODAY
                table(id="eatenToday", class="table")
                    tr
                        td Energy
                        td= eatenToday.energy
                    tr
                        td Protein
                        td= eatenToday.protein
                    tr
                        td Carbohydrates
                        td= eatenToday.carbohydrates
                    tr
                        td Fat
                        td= eatenToday.fat
            div(class="main")
                table(id = "todaysProducts", class="table")
                    tr 
                        th Product
                        th Quantity
                        th Energy
                        th Protein
                        th Carbohydrates
                        th Fat
                    each product in todaysProducts
                        tr
                            td= product.name
                            td= product.quantity + " g"
                            td= product.energy + " kcal"
                            td= product.protein + " g"
                            td= product.carbohydrates + " g"
                            td= product.fat + " g"
                    tr
                        td 
                            strong SUMA
                        td
                            strong= eatenToday.quantity + " g"
                        td
                            strong= eatenToday.energy + " kcal"
                        td
                            strong= eatenToday.protein + " g"
                        td
                            strong= eatenToday.carbohydrates + " g"
                        td
                            strong= eatenToday.fat + " g"
    script(src='scripts/products.js' type="text/javascript")