form(method="GET", action="/search" enctype="application/json")
    input(id="query", type="text", name="query")
    button(id="submitProduct" type="submit")= "Search"
if foundProducts
    div(id='products', class="flex-container")
        each p in foundProducts
            div(class="container")
                - var img = "images/" + p.id + "/" + p.images[0]
                img(class="productImage", id=p.id, src=img)
                div(class="bottom-left")= p.productName
if product
    div(id="productInfo")
        table(id="productInfoTable", class="table", caption=product.productName)
            each val, index in product.nutritionalValues
                tr
                    td= index
                    td= val
        form(id="portionForm", method="POST", enctype="application/json")
            input(id="quantity", type="number", name="quantity")
            input(id="productId", type="hidden", name="productId", value=product.id)
            button(id="submitPortion" type="submit")= "Add product"